{% from 'macros/vertical_space.html' import vertical_space %}

<section class="container-fluid bg-gradient-custom-main3 text-white py-5">
    <div class="container text-center">
        <!-- Section Title -->
        <h1 class="fw-bold mb-5 font-squaregame">EVENT</h1>

        <div class="row align-items-center mb-5">
            <div class="col-md-6">
                <img src="static/img/comp_example2.png" class="w-100 h-100 object-fill-cover rounded-4" alt="example">
            </div>
            <div class="col-md-6 text-start">
                <h3 class="fw-bold font-squaregame">event#1</h3>
                <p>
                    Foto bersama admin karena admin sayang member
                </p>
            </div>
        </div>

        <div class="row align-items-center mb-5">
            <div class="col-md-6 text-start order-md-1 order-2">
                <h3 class="fw-bold font-squaregame">event#2</h3>
                <p>
                    Mabar bareng bersama di FIB
                </p>
            </div>
            <div class="col-md-6 order-md-2 order-1">
                <img src="static/img/comp_example3.png" class="w-100 h-100 object-fill-cover rounded-4" alt="example">
            </div>
        </div>

        <div class="mt-5">
            <a href="#" style="background-color: #041562; border-color: #041562;" class="btn btn-primary btn-lg px-4 py-2 rounded-3 font-squaregame">
                Explore More!
            </a>
        </div>
    </div>
</section>

