{% from 'macros/vertical_space.html' import vertical_space %}

<section class="container-fluid bg-gradient-custom-main3 text-white py-5">
    <div class="container text-center">
        <!-- Section Title -->
        <h1 class="fw-bold mb-5">EVENT</h1>

        <div class="row align-items-center mb-5">
            <div class="col-md-6">
                <div class="bg-light rounded-4 shadow p-5"></div>
            </div>
            <div class="col-md-6 text-start">
                <h3 class="fw-bold">EVENT#1</h3>
                <p>
                    anjay
                </p>
            </div>
        </div>

        <div class="row align-items-center mb-5">
            <div class="col-md-6 text-start order-md-1 order-2">
                <h3 class="fw-bold">EVENT#2</h3>
                <p>
                    anjay 2
                </p>
            </div>
            <div class="col-md-6 order-md-2 order-1">
                <div class="bg-light rounded-4 shadow p-5"></div>
            </div>
        </div>

        <div class="mt-5">
            <a href="#" class="btn btn-primary btn-lg px-4 py-2 rounded-3">
                Explore More!
            </a>
        </div>
    </div>
</section>

