<section class="container-fluid bg-gradient-custom-main1 text-white py-5">
    <div class="container">
        <div class="row">
            <!-- kiri -->
            <div class="col-md-6">
                <!-- <h1 class="fw-bold">OUR SOCIAL PROJECT</h1> -->
                <img class="img-fluid" src="static/title/sospro.png">
                
                <p>
                    Di sana gunung, di sini gunung, di tengah-tengahnya Pulau Jawa. Wayangnya bingung, dalangnya juga bingung, yang penting bisa ketawa
                </p>
            </div>

            <!-- kanan -->
            <div class="col-md-6">
                <div class="d-flex flex-column gap-3">
                    <!-- Top row -->
                    <div class="d-flex gap-3">
                        <div class="flex-fill rounded-4 shadow overflow-hidden" style="height: 200px;">
                            <img src="static/img/comp_example1.png" class="w-100 h-100 object-fill-cover rounded-4" alt="test">
                        </div>
                        <div class="rounded-4 shadow overflow-hidden" style="width: 150px; height: 200px;">
                            <img src="static/img/comp_example1.png" class="w-100 h-100 object-fill-cover rounded-4" alt="test">
                        </div>
                    </div>
                    <!-- Bottom row -->
                    <div class="d-flex gap-3">
                        <div class="flex-fill rounded-4 shadow overflow-hidden" style="height: 150px;">
                            <img src="static/img/comp_example1.png" class="w-100 h-100 object-fill-cover rounded-4" alt="test">
                        </div>
                        <div class="flex-fill rounded-4 shadow overflow-hidden" style="height: 150px;">
                            <img src="static/img/comp_example1.png" class="w-100 h-100 object-fill-cover rounded-4" alt="test">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

