/*========GLOBAL=========*/

:root {
  --card-bg: #270575
}

.bg-gradient-custom-about1
{
    background: linear-gradient(180deg, #23006E 0%, #20013d 20%, #20013d 80%, #23006E 100%);
}

.bg-gradient-custom-about2 {
    background: #23006E  
}

.bg-gradient-custom-about3 {
    background: linear-gradient(180deg, #23006E, #20013d);
}

.text-color-section {
  color: #fff;
}

/* ================================
   LAYOUT
================================ */

/* About Us */
.about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 8%;
  gap: 3rem;
}

.about-us__content {
  flex: 1;
}

.about-us__desc {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #d0cde1;
}

.about-us__logo {
  flex: 1;
  text-align: center;
}

/* Division */
.division {
  padding: 4rem 8%;
  text-align: center;
}

.division__title {
  font-family: "SquareGame";
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.division__menu {
  background: #2e097d;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 8px; 
  margin-bottom: 3rem;
}

.division__btn {
  background: #1a0444;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  color: var(--light);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
  text-decoration: none;
}

.division__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin: 0.5rem 0;   
}

.division__btn:hover {
  background: var(--secondary);
  color: var(--dark);
}

/* Division Grid */

.division__grid {
  margin-top: 2rem;
}

.division__block {
  background: var(--card-bg);
  padding: 2rem;
  border-radius: 15px;
  margin-bottom: 3rem
}

.division__block-subtitle {
  color: #b8b6d1;
  margin-bottom: 2rem;
}

.division__members {
  display: flex;
  flex-wrap: wrap;            /* allow multiple rows */
  justify-content: center; /* spread cards across the row */
  gap: 1.5rem;                /* consistent gaps */
}
/* Member Card */

.member-card {
  flex: 0 1 calc(33.333% - 1rem); /* ~3 per row, accounting for gap */
  max-width: 300px;    
  background: #1a0444;
  border-radius: 15px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

.member-card__img {
  border-radius: 10px;
  margin-bottom: 1rem;
  object-fit: cover;
}

.member-card__name {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.member-card__major {
  font-size: 0.9rem;
  color: #bbb;
  margin-bottom: 0.5rem;
}

/*===== HIDE =====*/

.division__btn.active {
  background: #00bcd4; /* Atau warna lain yang Anda inginkan untuk tombol aktif */
  color: #000;
  transform: scale(1.05);
}

.division__block.hide {
  display: none; /* Baris ini SANGAT PENTING untuk menyembunyikan elemen */
}

/*===== POSITIONING =====*/

.object-top {
  object-position: top;
}
