{% from 'main.html' import head_block %}
{% from 'main.html' import scripts %}
{% from 'main.html' import title %}
{% from 'macros/vertical_space.html' import vertical_space %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Event - {{ title() }}</title>

	{{ head_block() }}

	<style>
    {% for file in styles_files %}
    	{% include "styles/" + file %}
    {% endfor %}
	</style>
</head>

<body>
	{% include 'crumbs/header.html' %}

    {% for file in event_section_files %}
    	{% include "sections/event_sections/" + file %}
    {% endfor %}

	{% include 'crumbs/footer.html' %}


	{{ scripts() }}

	<script>
    {% for file in scripts_files %}
    	{% include "scripts/" + file %}
    {% endfor %}
	</script>
</body>

</html>