{% from 'macros/vertical_space.html' import vertical_space %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>
		{% macro title() %}
		SOSPRO S5
		{% endmacro %}
		
		{{ title() }}
	</title>

	<style>
        .font-squaregame {
			font-style: Regular;
			font-size: 60px;
			leading-trim: NONE;
			line-height: 100px;
			letter-spacing: 0%;
        }
	</style>

	{% macro head_block() %}
	<meta content="#ffe600" data-react-helmet="true" name="theme-color" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
	{% endmacro %}

	{{ head_block() }}

	<style>
    {% for file in styles_files %}
    	{% include "styles/" + file %}
    {% endfor %}
	
	{% for file in section_style_files %}
		{% include "styles_per_page/main/" + file %}
	{% endfor %}
	</style>
</head>

<body>
	{% include 'crumbs/header.html' %}

    {% for file in main_section_files %}
    	{% include "sections/main_sections/" + file %}
    {% endfor %}

	{% include 'crumbs/footer.html' %}



	{% macro scripts() %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	{% endmacro %}

	{{ scripts() }}

	<script>
    {% for file in scripts_files %}
    	{% include "scripts/" + file %}
    {% endfor %}
	</script>
</body>

</html>
