{% from 'macros/vertical_space.html' import vertical_space %}

<section class="container-fluid bg-gradient-custom-about1 text-color-section">
    <div class="row d-flex justify-content-center align-items-center border border-dark">
        {{ vertical_space("5rem") }}
         <section class="about-us">
            <div class="about-us__content">
            <h1 class="division__title text-center fw-bold">About Us</h1>
            <p class="about-us__desc text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in.
            </p>
            <p class="about-us__desc text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in.
            </p>
            </div>
            <div class="about-us__logo">
            <img src="assets/logo-5iber.png" alt="5iber Logo">
            </div>
        </section>
        {{ vertical_space("10rem") }}
    </div>
</section>