{% from 'macros/vertical_space.html' import vertical_space %}

<section class="container-fluid bg-gradient-custom-about2 text-color-section">
    <div class="row d-flex justify-content-center align-items-center">
        <section class="division">
            <h2 class="division__title mb-3">Our Division</h2>
            
            <div class="division__menu">
                <div class="division__row">
                    <a href="#bph" class="division__btn">BPH</a>
                    <a href="#seminar" class="division__btn">Seminar</a>
                    <a href="#webdev" class="division__btn">Webdev &amp; RnD</a>
                </div>
                <div class="division__row">
                    <a href="#proposal" class="division__btn">Proposal &amp; Education</a>
                    <a href="#equipment" class="division__btn">Equipment &amp; Operations</a>
                    <a href="#creative" class="division__btn">Creative &amp; Multimedia</a>
                    
                </div>
                <div class="division__row">
                    <a href="#sosmed" class="division__btn">PR &amp; Social Media</a>
                    <a href="#fundraising" class="division__btn">Fundraising</a>
                    <a href="#documentation" class="division__btn">Documentation</a>
                    
                </div>
            </div>

            <div class="division__grid">
            </div>
        </section>
    </div>
</section>