{% from 'macros/vertical_space.html' import vertical_space %}

<section class="container-fluid bg-gradient-custom-about2 text-color-section">
    <div class="row d-flex justify-content-center align-items-center border border-dark">
        <section class="division">
            <h2 class="division__title mb-3">Our Division</h2>
            
            <div class="division__menu">
                <div class="division__row">
                    <button class="division__btn">BPH</button>
                    <button class="division__btn">Webdev &amp; RnD</button>
                    <button class="division__btn">Proposal &amp; Education</button>
                </div>
                <div class="division__row">
                    <button class="division__btn">Equipment &amp; Operations</button>
                    <button class="division__btn">Creative &amp; Multimedia</button>
                    <button class="division__btn">PR &amp; Social Media</button>
                </div>
                <div class="division__row">
                    <button class="division__btn">Fundraising</button>
                    <button class="division__btn">Documentation</button>
                    <button class="division__btn">Seminar</button>
                </div>
            </div>

            <div class="division__grid">
            </div>
        </section>
    </div>
</section>