{% from 'macros/vertical_space.html' import vertical_space %}

<section class="container-fluid bg-gradient-custom-about3 text-color-section">
    <div class="row d-flex justify-content-center align-items-center">
        <section class="division">
            <!-- BPH -->
            <div  id="bph" class="division__block">
                <h3 class="division__title mb-1 text-start ps-4">BPH</h3>
                <p class="division__block-subtitle text-start ps-4">Badan Pengurus Harian</p>
                <div class="division__members">
                    <div class="member-card">
                        <h4 class="member-card__name">Attar Rais Hakim</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/bph/attar.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                        <p class="member-card__role">Ketua</p>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Luthfi Ahmad Fadhlan</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/bph/luthfi.jpg" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                        <p class="member-card__role">Wakil Ketua</p>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Rania Yasin</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/bph/rania-yasin.png" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                        <p class="member-card__role">Sekretaris</p>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Joshua Imanuel Setiawan</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                        <p class="member-card__role">Bendahara</p>
                    </div>                                        
                </div>
            </div>

            <!-- Seminar -->
            <div id="seminar" class="division__block">
                <h3 class="division__title mb-1 text-start ps-4">Seminar</h3>
                <p class="division__block-subtitle text-start ps-4">Divisi Seminar</p>
                <div class="division__members">
                    <div class="member-card">
                        <h4 class="member-card__name">Faris Salman Azhari</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Asfara Quaneisha Syafaziel</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Alphard Qodaruddin</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/seminar/alphard.jpg" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Felisha Angeline</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Dimas Arief Pratama</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Daniela Oktavina</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Fadey Aditya Nararya</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Ihsan Rafi Ahmad</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Nayla Putri Novita</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Muhammad Raditya Abrar</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Webdev & RND -->
            <div id="webdev" class="division__block">
                <h3 class="division__title mb-1 text-start ps-4">Webdev & RND</h3>
                <p class="division__block-subtitle text-start ps-4">Website Development & Research and Development</p>
                <div class="division__members">
                    <div class="member-card">
                        <h4 class="member-card__name">Ghulam Muhammad Ihsan</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/webdev/Ghulam.JPG" alt="Ambatron" class="member-card__img img-fluid object-top">
                        </div>
                        <span class="member-card__role">Ketua</span>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Adam Wahyu Syaputra</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">   
                        </div>             
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Ilman Zidni</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Ilham Naufal Firmansyah</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Leow Vincent Vintizel</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Faaiz Abdallah Dhewanto</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Gentha Ardaana</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/webdev/Gentha.png" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Muhammad Adib Islami</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                </div>
            </div>

                    <!-- Proposal & Education -->
            <div id="proposal" class="division__block">
                <h3 class="division__title mb-1 text-start ps-4">Proposal & Education</h3>
                <p class="division__block-subtitle text-start ps-4">Proposal and Educational Division</p>
                <div class="division__members">
                    <div class="member-card">
                        <h4 class="member-card__name">Kesya Clara Dania</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Kaysan Navid Musyaffa</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Gavrila Sarah Kartika Suath</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">M. Rezky Syahputra</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/proposal/rezky.jpg" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Jonathan Sebastian Sindhu</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Emir Muhammad Qoshid Indriaswara</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Najla Hanifah Khairunnisa</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Nazar Rialdi Girsang</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Equipment & Operations -->
            <div id="equipment" class="division__block">
                <h3 class="division__title mb-1 text-start ps-4">Equipment & Operations</h3>
                <p class="division__block-subtitle text-start ps-4">Perlengkapan dan Operasional</p>
                <div class="division__members">
                    <div class="member-card">
                        <h4 class="member-card__name">Muhammad Naufal Rizki Fadhlurrahman</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/equipment/naufal.webp" alt="Ambatron" class="member-card__img img-fluid object-top">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Emil Ananta Kautsar</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Stephanie Revalina Tamus</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/equipment/stephanie.jpg" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Argus Fedyenka Alazne</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Raden Stanislaus Airell Prakosa Sinaga</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Creative & Multimedia -->
            <div id="creative" class="division__block">
                <h3 class="division__title mb-1 text-start ps-4">Creative & Multimedia</h3>
                <p class="division__block-subtitle text-start ps-4">Kreatif dan Multimedia</p>
                <div class="division__members">
                    <div class="member-card">
                        <h4 class="member-card__name">Mirza Al Fathi</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/creative/mirza.jpg" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Georgius Satria Adibrata</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/creative/geo.png" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Danish Safwan Wibowo</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Prajna Kausalya Damdani</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/creative/prajna.jpg" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Muhammad Akhdan Satria</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Rania Fauziah Nur Wahyudi</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/creative/rania-fauziah.JPG" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Adinda Madya Aliyah</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Muhammad Sultan Zidan</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                </div>
            </div>

            <!-- PR & Social Media -->
            <div id="sosmed" class="division__block">
                <h3 class="division__title mb-1 text-start ps-4">PR & Social Media</h3>
                <p class="division__block-subtitle text-start ps-4">Public Relations dan Media Sosial</p>
                <div class="division__members">
                    <div class="member-card">
                        <h4 class="member-card__name">Zhillan Baniaksa</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Nabila Ulya Ramli</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/sosmed/member-sosmed.jpg" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Adyra Rachellyn Arkossand</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Rania Aqyla</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Khalishah Nafisah</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Hanna Sherlina Wicaksono</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Fayiz Mahardika Ghulam Afandi</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Michelle Yuyun Margarethy Aritonang</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                </div>
            </div>

                        <!-- Fundraising -->
            <div id="fundraising" class="division__block">
                <h3 class="division__title mb-1 text-start ps-4">Fundraising</h3>
                <p class="division__block-subtitle text-start ps-4">Divisi Dana Usaha</p>
                <div class="division__members">
                    <div class="member-card">
                        <h4 class="member-card__name">Samuel Kaevin Phasca</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Naufal Adrian Marsha</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/fundraising/naufal-adrian.jpg" alt="Ambatron" class="member-card__img img-fluid object-top">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Faiz Firos Farid</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Keizora Jelta Wohingati</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/fundraising/keizora.jpg" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">I Komang Arka Damar Laksana</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/fundraising/komang.png" alt="Ambatron" class="member-card__img img-fluid">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Documentation -->
            <div id="documentation" class="division__block">
                <h3 class="division__title mb-1 text-start ps-4">Documentation</h3>
                <p class="division__block-subtitle text-start ps-4">Divisi Dokumentasi</p>
                <div class="division__members">
                    <div class="member-card">
                        <h4 class="member-card__name">Andy Aulia Akbar</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/documentation/akbar.JPG" alt="Andy Aulia Akbar" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Ahmad Rafa Robyan</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/documentation/rafa.jpg" alt="Ahmad Rafa Robyan" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Aisyah Zayyana Hanifah</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/default-pic.webp" alt="Aisyah Zayyana Hanifah" class="member-card__img img-fluid">
                        </div>
                    </div>
                    <div class="member-card">
                        <h4 class="member-card__name">Muhammad Naufal Syarifuddin</h4>
                        <div class="ratio ratio-1x1">
                            <img src="static/img/panitia/documentation/syarif.jpg" alt="Muhammad Naufal Syarifuddin" class="member-card__img img-fluid object-top">
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</section>
