{% from 'macros/vertical_space.html' import vertical_space %}

<section class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
        <section class="events">
            <div class="event">
            <div class="img"></div>
            <div class="info">
                <h3>EVENT 3</h3>
                <p>Praesent sed tortor nec mauris convallis volutpat. Maecenas tincidunt augue sed ligula cursus, in dictum nibh mattis.</p>
            </div>
            </div>
        </section>
        {{ vertical_space("10rem") }}
    </div>
</section>