{% from 'macros/vertical_space.html' import vertical_space %}

<section class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
        <!-- Hero -->
        <section class="hero">
            <div class="hero-box">
            <div class="hero-headline"><img src="../../../static/Our Event.png" /></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in</p>
            </div>
        </section>
    </div>
</section>
