{% from 'macros/vertical_space.html' import vertical_space %}

<section class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
        <section class="events">
            <div class="event reverse">
            <div class="img"></div>
            <div class="info">
                <h3>EVENT 2</h3>
                <p>Sed vitae eros vitae erat pharetra lacinia. Curabitur dignissim justo ac turpis suscipit, vitae ultrices lorem vulputate.</p>
            </div>
            </div>
        </section>
    </div>
</section>