{% from 'macros/vertical_space.html' import vertical_space %}

<section class="pacil-section3">
  <h2 class="pacilians-title">MEET THE PACILIANS</h2>

  <div class="pacilians-buttons">
    <button class="pacilians-btn active" data-category="dosen">Dosen</button>
    <button class="pacilians-btn" data-category="asdos">Asdos</button>
    <button class="pacilians-btn" data-category="kebersihan">Kebersihan</button>
    <button class="pacilians-btn" data-category="kantin">Kantin</button>
    <button class="pacilians-btn" data-category="keamanan">Keamanan</button>
    <button class="pacilians-btn" data-category="tukang-kebun">Tukang Kebun</button>
  </div>

  <div class="pacilians-content" id="paciliansContent">
    <!-- Konten Section 4 akan diganti dinamis via JS -->
  </div>
</section>


