{% from 'macros/vertical_space.html' import vertical_space %}

<section class="container-fluid bg-gradient-custom-about2 text-color-section">
    <div class="row d-flex justify-content-center align-items-center">
        <section class="division">
            <h2 class="division__title mb-3">MEET THE PACILIANS</h2>
            
            <div class="division__menu">
                <div class="division__row">
                    <a href="#manajemen" class="division__btn">Manajemen</a>
                    <a href="#staf-pengajar" class="division__btn">Staf Pengajar</a>
                    <a href="#security" class="division__btn">Keamanan</a>
                </div>
                <div class="division__row">
                    <a href="#cleaning-service" class="division__btn">Kebersihan</a>
                    <a href="#kantin" class="division__btn">Kantin</a>
                    <a href="#gardener" class="division__btn">Tukang Kebun</a>
                </div>
            </div>

            <div class="division__grid">
            </div>
        </section>
    </div>
</section>