{% from 'macros/vertical_space.html' import vertical_space %}

 <section class="section-hero">
  <div class="hero-content">
    <div class="hero-left">
      <img src="static/images/fasilkom-logo.png" alt="Fasilkom UI Logo" class="hero-logo" />
      <h2 class="hero-title">Fakultas Ilmu Komputer</h2>
      <p class="hero-description">
        Selamat datang di Fakultas Ilmu Komputer Universitas Indonesia, tempat
        berkembangnya inovasi, teknologi, dan generasi masa depan.
      </p>
    </div>

    <div class="hero-right">
      <img src="static/images/fasilkom-ui-depan.png" alt="Fasilkom UI Ilustrasi" class="hero-image" />
    </div>
  </div>
</section>
