<!-- <footer class="bg-dark text-light pt-4 pb-2 mt-5 container-fluid montserrat-font">
    <div class="container">
        <div class="row">
            
            <div class="col-md-12 mb-3">
                <h5>Contact</h5>
                <p class="small mb-1">Email: <a class="text-light" href="mailto:contact@ilmanzidni.com">contact@ilmanzidni.com</a></p>
                <div>
                    <a href="https://example.com" class="text-light me-2" target="_blank" rel="noopener noreferrer">Contact 1</a>
                    <a href="https://example.com" class="text-light me-2" target="_blank" rel="noopener noreferrer">Contact 2</a>
                </div>
            </div>
        </div>

        <hr class="border-light">

        <div class="text-center small">&copy; 2025 Copyright</div>
    </div>
</footer> -->

<footer id="footer" class="pt-5 pb-5 container-fluid montserrat-font">
    <div class="container">
        <div class="row">
            
            <div class="col-md-12 mb-3">
                <div class="d-flex flex-row">
                    <div class="w-25 text-white">
                        <img src="assets/member1.png" alt="Ambatron" class="member-card__img">
                    </div>
                    <div class="text-white small w-50 fw-bold mt-4 mb-3">
                        <p class="mb-1"><u>Address:</u> Jl. Prof. DR. Sudjono D. Pusponegoro, Pondok Cina, Kecamatan Beji, Kota Depok, Jawa Barat 16425</p> 
                        <p class="mb-1"><u>Hours:</u> Closed ⋅ Opens 8.00 am Wed</p>
                        <p class="mb-1"><u>Phone:</u> (021) 7863419</p>
                        <p class="mb-1"><u>Province:</u> West Java</p>
                        <p></p>    
                        <p class="mb-1">Parent organization: Universitas Indonesia</p>          
                    </div>          
                </div>
                <div class="d-flex justify-content-between mt-4">
                    <div class="text-center small text-white fw-bold">&copy; 2025 5iber</div>
                    <a href="https://instagram.com/your_username" target="_blank" class="ig-btn">
                        <img src="{{ url_for('static', filename='assets/ig_icon_white.png') }}" 
                            alt="Instagram" 
                            width="40" 
                            height="40">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

