<footer id="bottom-footer" class="text-light pt-4 pb-5 container-fluid ">
    <div class="container">        
        <div class="row align-items-center">
            <div class="col-md-3 text-center text-md-start mb-3">
                <img src="/static/logo.png" alt="Logo" class="img-fluid" style="max-height: 60px;">
            </div>

            <div class="pt-5 col-md-6 text-center mb-3 fw-bold">
                <p class="small mb-1">Address: Jl. Prof. DR. Sudjono D. Pusponegoro, Pondok Cina, Kecamatan Beji, Kota Depok, Jawa Barat 16425</p>
            </div>
        </div>
        
        <br>
        
        <span class="fs-4 font-squaregame">&copy; 2025 SIBERCSUI</span>
    </div>
</footer>

